<main class="container">
  <h1 class="container__title">Most common downloaded games by platform</h1>

  <ng-container *ngIf="games$ | async as vm">
    <form class="container__form">
      <div class="container__form__searchbar">
        <mat-form-field class="container__form__field">
          <mat-label>Search your favorite games..</mat-label>
          <input
            matInput
            placeholder="Search your favorite games.."
            [formControl]="searchBar"
          />
        </mat-form-field>
        <button
          mat-fab
          [disabled]="$any(vm).loading"
          color="primary"
          aria-label="Add new game"
          (click)="openDialog()"
        >
          <mat-icon aria-hidden>add</mat-icon>
        </button>
      </div>

      <mat-form-field class="container__form__combo">
        <mat-label>Chose the paltform</mat-label>
        <mat-select
          [(value)]="selectedPlatform"
          (selectionChange)="onPlatformChange($event.value)"
        >
          <mat-option *ngFor="let platform of platforms" [value]="platform">
            {{ platform }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <app-table [vm]="$any(vm)" [platform]="selectedPlatform"></app-table>

    <div *ngIf="vm.loading" class="container__loading" aria-hidden>
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
</main>
